{{- if and (isTrue .Env.BUILD_ENV_https) (eq .Env.BUILD_ENV_deployEnv "dev") }}
---
apiVersion: v1
kind: Secret
metadata:
  name: https-key-secret-dev
  namespace: {{ .Env.BUILD_ENV_namespace }}
type: kubernetes.io/tls
data:
  tls.crt: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUdJakNDQlFxZ0F3SUJBZ0lRREYwfgsdfgdOXIwVVdCamc0M0JkQl**********
  tls.key: LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNSUlFcEFJQkFBS0NBUUfgdgdfVBbTNKMkhhUU5xT1VXVlNxal*********
{{- end }}

{{- if and (isTrue .Env.BUILD_ENV_https) (eq .Env.BUILD_ENV_deployEnv "test") }}
---
apiVersion: v1
kind: Secret
metadata:
  name: https-key-secret-test
  namespace: {{ .Env.BUILD_ENV_namespace }}
type: kubernetes.io/tls
data:
  tls.crt: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUdJakNDQlFxZ0F3SUJBZ0lRREfgsdfgYwOXIwVVdCamc0M0JkQl**********
  tls.key: LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNSUlFcEFJQkFBS0NBUUVBbTgdfgdfNKMkhhUU5xT1VXVlNxal*********
{{- end }}

{{- if and (isTrue .Env.BUILD_ENV_https) (eq .Env.BUILD_ENV_deployEnv "stage") }}
---
apiVersion: v1
kind: Secret
metadata:
  name: https-key-secret-stage
  namespace: {{ .Env.BUILD_ENV_namespace }}
type: kubernetes.io/tls
data:
  tls.crt: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCk1JSUdJakNDQlFxZ0F3SUJBZ0lRREYwOXIwVVdCamcfgdfg0M0JkQl**********
  tls.key: LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNSUlFcEFJQkFBS0NBUUVBbTNKMkhhUUgdfgsdf5xT1VXVlNxal*********
{{- end }}