{{- $serviceListenPortList := (split .Env.BUILD_ENV_containerPort ",") }}
{{- $serviceListenPortListLen := (len $serviceListenPortList) }}

{{- if isTrue .Env.BUILD_ENV_useService }}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ .Env.BUILD_ENV_jobName }}
  name: {{ .Env.BUILD_ENV_jobName }}
  namespace: {{ .Env.BUILD_ENV_namespace }}
spec:
  ports:
{{- if eq $serviceListenPortListLen 1 }}
  - port: 80
    name: http-80
    targetPort: {{(default .Env.BUILD_ENV_containerPort "80") }}
{{- if eq .Env.BUILD_ENV_svcType "NodePort" }}
    nodePort: {{ .Env.BUILD_ENV_nodePort }}
{{- end }}
{{- end }}
{{- if gt $serviceListenPortListLen 1 }}
{{- range $index, $value := $serviceListenPortList }}
  - port: {{ $value }}
    name: port-{{ $value }}
    targetPort: {{ $value }}
{{- end }}
{{- end }}
  selector:
    app: {{ .Env.BUILD_ENV_jobName }}
{{- if isTrue .Env.BUILD_ENV_useSticky }}
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 86000
{{- end }}
  type: {{ default .Env.BUILD_ENV_svcType "ClusterIP" }}
{{- end }}