BUILD_ENV_modelBranch=test
BUILD_ENV_useGrpc=false
BUILD_ENV_jsVersion=0.0.0
BUILD_ENV_versionControlMode=GitCommitId
BUILD_ENV_useSticky=false
BUILD_ENV_ifSaveModelBuildComputer=false
BUILD_ENV_deploy=true
BUILD_ENV_ifUseModel=false
BUILD_ENV_branchName=test
BUILD_ENV_replicas=4
BUILD_ENV_ifUseRootDockerfile=false
BUILD_ENV_deployEnvStatus=start
BUILD_ENV_apolloNamespace=application
BUILD_ENV_buildResult=failure
BUILD_ENV_gpuMemLimits=0
BUILD_ENV_modelGitRepository=https://xxxx
BUILD_ENV_jobName=base-storage-server
BUILD_ENV_ifCompileImage=false
BUILD_ENV_useStore=true
BUILD_ENV_checkPodsStatus=true
BUILD_ENV_makeImage=true
BUILD_ENV_buildPlatform=adp
BUILD_ENV_useService=true
BUILD_ENV_replicationControllerType=Deployment
BUILD_ENV_compile=true
BUILD_ENV_appName=base-storage-server
BUILD_ENV_servicePort=80,8080
BUILD_ENV_memoryRequests=6000Mi
BUILD_ENV_memoryLimits=8000Mi
BUILD_ENV_customKubernetesDeployTemplate=false
BUILD_ENV_apolloConfigAddress=http://test-conf.apollo.cc.dm-ai.cn
BUILD_ENV_namespace=xmc-base
BUILD_ENV_buildImageAddress=docker.dm-ai.cn/xmc-base/base-storage-server:test-14-bcedf317dd161d64c2ca35c9af793c59702abb60-test
BUILD_ENV_customDockerfile=false
BUILD_ENV_envType=cpu
BUILD_ENV_codeLanguage=java
BUILD_ENV_configFilePath=/app
BUILD_ENV_ifUseGitManagerModel=true
BUILD_ENV_domain=base-storage-server.xmc-base.test.dm-ai.cn
BUILD_ENV_useConfigMap=false
BUILD_ENV_buildImageTag=test-14-bcedf317dd161d64c2ca35c9af793c59702abb60-test
BUILD_ENV_apolloEnv=test
BUILD_ENV_svcType=NodePort
BUILD_ENV_useModel=false
BUILD_ENV_if_add_unity_project=false
BUILD_ENV_ifUseGbs=false
BUILD_ENV_ifCompileParam=false
BUILD_ENV_jenkinsBranchName=test
BUILD_ENV_gitVersion=bcedf317dd161d64c2ca35c9af793c59702abb60
BUILD_ENV_ifUseIstio=false
BUILD_ENV_deployEnv=test
BUILD_ENV_buildNumber=14
BUILD_ENV_gpuControlMode=mem
BUILD_ENV_gpuLimits=1
BUILD_ENV_apolloClusterName=default
BUILD_ENV_unity_app_name=no_unity
BUILD_ENV_nodeEnv=test
BUILD_ENV_https=true
BUILD_ENV_cpuRequests=2000m
BUILD_ENV_jenkinsJobName=base-storage-server
BUILD_ENV_storePath=/data
BUILD_ENV_cpuLimits=2000m
BUILD_ENV_containerPort=8081
BUILD_ENV_http=true
BUILD_ENV_gitAddress=https://gitlab.dm-ai.cn/XMC/xmc-base/base-storage-server.git
BUILD_ENV_ifUseApolloOfflineEnv=false
BUILD_ENV_emailAddress=quzhongling@dm-ai.cn,yejun@dm-ai.cn,chenfukui@dm-ai.cn,fuweihuo@dm-ai.cn
BUILD_ENV_deployPassword=dmai2019999
BUILD_ENV_ifCompileCache=true
BUILD_ENV_storePath=mypvc:/data,mypvc2:/dadta2
BUILD_ENV_envType=gpu
BUILD_ENV_yamlEnv=a=true,c=d,e=false
GPU_TYPE=all
GPU_MEM_COUNT=3